@import "../../../../styles/settings";

input {
  &.input {
    font-size: $base-size * 1.5;
    padding-top: 0;

    /* Firefox */
    &[type="number"] {
      appearance: textfield;
      max-width: $base-size * 5;
      text-align: center;

      /* Chrome, Safari, Edge, Opera */
      &::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        appearance: none;
        margin: 0;
        text-align: center;
      }
    }
  }
}
