@import "../../../styles/settings";

.form {
  h1 {
    font-size: $base-size * 3;
    margin-bottom: $base-size / 2;
  }

  label {
    font-size: $base-size * 2;
  }

  button {
    color: $color-info;
    border-color: $color-info;
    width: $base-size * 10;
  }

  button:hover {
    color: $color-light;
    background-color: $color-accent;
    border-color: $color-accent;
  }
}
