@import "../../../styles/settings";

.navbar {
  background-color: $color-accent;
  color: $color-light;

  img {
    height: $base-size * 12.5;
    width: $base-size * 12.5;
    margin-right: $base-size * 1.66;
  }

  .button {
    color: $color-main;
    border-color: $color-main;
  }

  .button:hover {
    color: $color-accent;
    background-color: $color-main;
    border-color: $color-main;
  }
}

.brand {
  span {
    font-family: $font-main;
    font-weight: $base-size * 33.3;
    color: $color-light;
    font-size: $base-size * 3.5;
    line-height: 1.2;

    &:nth-of-type(even) {
      font-family: $font-sub;
      font-weight: $base-size * 66.6;
      font-size: $base-size * 2.25;
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    img {
      height: $base-size * 6.33;
      width: $base-size * 6.33;
      margin: 0;
    }
  }

  .brand span {
    font-size: $base-size;
    margin-left: $base-size;

    &:nth-of-type(even) {
      font-size: $base-size;
    }
  }
}
