@import '../../../styles/settings.scss';


.background { 
    &[data-count]:after {
    position:absolute;
    right:0%;
    top:0%;
    content: attr(data-count);
    font-size:40%;
    padding:.6em;
    border-radius:999px;
    line-height:.75em;
    color: $color-accent;
    text-align:center;
    min-width:2em;
    font-weight:bold;
    background: $color-light;
    border-style:solid;
  }
}

.background, svg {
  color: $color-main;
}

.cart {
  color:$color-accent;
  background-color: $color-main;
}
