$color-light: #fff9ed;
$color-dark: #000000;
$color-main: #a5cdcb;
$color-accent: #ab9873;
$color-info: #6c61c8;
$color-danger: #b86464;

$font-main: 'Klee One', sans-serif;
$font-sub: 'Alexandria', sans-serif;

$radius: 5px;
$base-size: 12px;
$transition: all 0.5s;
