@import "../../../styles/settings";

.card {
  &.card {
    background-color: $color-main;
    border: $base-size / 7 solid $color-accent;
    border-radius: 0;
    font-family: $font-main;

    img {
      height: $base-size * 23;
      border-radius: 0;
      object-fit: cover;
    }
  }

  .header {
    min-height: $base-size * 9.25;
    justify-content: center;
  }

  .tags {
    justify-content: center;
  }

  .price {
    font-size: $base-size * 2;
    margin-bottom: $base-size;

    span {
      font-size: $base-size;
      align-self: flex-end;
      margin-left: $base-size / 2;
    }
  }

  .link {
    text-decoration: none;

    .button {
      color: $color-light;
      border-color: $color-accent;
      background-color: $color-accent;
      height: $base-size * 3.5;
      width: $base-size * 8;

      &:hover {
        color: $color-accent;
        background-color: $color-dark;
        border-color: $color-dark;
      }
    }
  }
}
