@import "../../../styles/settings";

/* Firefox */
.input[type="number"] {
  appearance: textfield;
  max-width: $base-size * 5;
  text-align: center;

  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
    text-align: center;
  }
}

.price {
  font-size: $base-size * 2;
}

.link {
  text-decoration: none;

  .button {
    color: $color-light;
    border-color: $color-accent;
    background-color: $color-accent;
    height: $base-size * 3.5;
    width: $base-size * 8;

    &:hover {
      color: $color-accent;
      background-color: $color-dark;
      border-color: $color-dark;
    }
  }
}

.tags {
  pointer-events: none;
  margin-bottom: $base-size * 1.5;
  min-height: $base-size * 3.2;

  .new {
    background-color: $color-info;
    border-color: $color-info;
  }

  .promo {
    background-color: $color-danger;
    border-color: $color-danger;
  }
}

.card {
  &.card {
    background-color: $color-main;
    border: $base-size / 7 solid $color-accent;
    border-radius: 0%;

    img {
      max-height: $base-size * 23;
    }
  }
}
